.hide {
  display: none;
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
}

/*Comon Style*/
.container {
  width: 100%;
  padding: 0 15px;
}

.section {
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*Reset Styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
}

.img {
  display: block;
  max-width: 100%;
}

/*Header*/
.header {
  position: relative;
  z-index: 10;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.header-mobile_btn {
  width: 88px;
  height: 36px;
  border-radius: 61px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #000;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-right: auto;
}
@media only screen and (min-width: 1200px) {
  .header-mobile_btn {
    display: none;
  }
}
.header-logo {
}
.logo-img {
}
.burger-btn {
  width: 80px;
  height: 45px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}
@media only screen and (min-width: 1200px) {
  .burger-btn {
    display: none;
  }
}
.burger-btn::before,
.burger-btn::after,
.burger-btn span {
  content: "";
  position: absolute;
  height: 1px;
  border-radius: 5px;
  background-color: #fff;
  left: 5px;
}
.burger-btn::before {
  width: 46px;
  top: 10px; /* Відстань від верху кнопки */
  left: 20px;
}
.burger-btn span {
  width: 60px;
  top: 22px; /* Відстань від верху кнопки + відстань між лініями */
}
.burger-btn::after {
  width: 60px;
  top: 34px;
}
.nav {
  display: flex;
  align-items: center;
}
.header-logo {
}
@media only screen and (min-width: 1200px) {
  .header-logo {
    display: block;
    margin-right: auto;
  }
}
.logo-img {
}

.header-nav_list {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .nav {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .header-nav_list {
    display: flex;
    gap: 40px;
  }
}
.header-nav_item {
}
.header-nav_link {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.header-btn {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 40px;
    color: #000;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background-color: transparent;
    outline: none;
    border-radius: 50%;
    position: relative;
  }
}

.header-svg_subtract {
  display: block;
  position: absolute;
  fill: #ffffff;
}
.header-btn_top {
  display: block;
  position: absolute;
  top: -10px;
  fill: #ffffff;
}
.header-btn_bottom {
  display: block;
  position: absolute;
  bottom: -10px;
  fill: #ffffff;
}

.header-btn_span {
}

/**Hero**/
.hero {
  position: absolute;
  top: 0;
  padding-top: 108px;
  padding-bottom: 378px;
}
.bg_hero {
  background-image: url(./image/hero/lakes.png), url("./image/hero/sky.png");
  background-repeat: no-repeat;
  background-size: 1200px, cover;
  background-position: center;

  width: 100%;
}
.container {
}
.hero-subtitle_box {
  width: 138px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}
.hero-subtitle {
  color: #0c0b10;
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.hero-title_box {
  width: 936px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.hero-title {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 197px;
  line-height: 0.65;
  letter-spacing: 7.918px;
  text-transform: uppercase;
}
.hero-title_span {
  font-size: 141px;
  line-height: 1;
  letter-spacing: 0, 03em;
  display: block;
}
